

@font-face {
    font-family:'CenturySchoolbook';
    src: url('font/CenturySchoolbook');
    src: url('font/CenturySchoolbook.eot?#iefix') format('embedded-opentype'),
        url('font/CenturySchoolbook.ttf') format('truetype'),
        url('font/CenturySchoolbook.svg#Century Schoolbook') format('svg');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family:'CenturySchoolbook-bold';
    src: url('font/CenturySchoolbook-bold');
    src: url('font/CenturySchoolbook-bold.eot?#iefix') format('embedded-opentype'),
        url('font/CenturySchoolbook-bold.ttf') format('truetype'),
        url('font/CenturySchoolbook-bold.svg#CenturySchoolbook-bold') format('svg');
    font-weight: bold;
    font-style: normal;
  
  }
  
  :root{
  --spacer: 2rem;
  --standard:2rem;
  }
  
  ::-moz-selection { background: lightgrey; color: white ;}
  ::selection { background: lightgrey; color: white ; }
  
  
  html {
  background: rgb(255,255,255);
  
  
  
  }
  
  body {
  
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 !important;
  
  
  
  }
  
  
  p{
  
  font-family: 'CenturySchoolbook', Times, serif;
  font-size: 4rem;
  font-weight: normal;
  font-style: normal;
  margin:0;
  
  letter-spacing: -0.05rem;
  word-spacing:-0.05rem;
  
  display:inline;
  
  }
  
  hr{
  border: 3px solid #000000;
  margin-top: var(--spacer);
  }
  
  
  a {
  font-style: normal;
  text-decoration:none;
  color: #000000;
  
  }
  
  
  a:hover {
  font-style: normal;
  text-decoration:underline;
  color: #000000;
  }
  
  a:visited {
  font-style: normal;
  text-decoration:none;
  color: #000000;
  }
  
  a.plain:hover{
  font-style: normal;
  text-decoration:none;
  color: #000000;
  
  }
  
  .header-box{
  grid-row: 1;
    width: auto;
    position: fixed;
    background-color: #ffffff;
    transition: filter 0.25s;
    -webkit-transition: filter 0.25s;
    margin: var(--standard);
  
  }
  
  /* for screens with height over 700px */
  .articles{
  grid-row: 2;
  padding-bottom: 20rem;
  background-color: white;
  z-index:100;
  
  }
  
  
  .text-box{
  width:auto;
  padding-right: 1rem;
  background-color: #ffffff;
  }
  
  .spacer{
  margin-bottom: var(--spacer);
  }
  
  .indent{
  margin-left:12vw;
  }
  
  
  .ghost {
  
  font-family: 'CenturySchoolbook', Times, serif;
  font-size: 4rem;
  font-weight: normal;
  font-style: normal;
  margin:0;
  letter-spacing: -0.05rem;
  word-spacing:-0.05rem;
  color:lightgrey;
  
  display:none;
  
  }
  
  div.text-box:hover span.ghost{
  
  display:inline;
  
  }
  
  